/*  ======================================================
    Utility classes
    ======================================================  */
/* Clearing floats */
.u-clearfix:after {
  content: '';
  display: table;
  clear: both;
}

/* Visually hidden but still readable by screen readers */
.u-visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: .06rem;
  width: .06rem;
  margin: -.06rem;
  padding: 0;
  border: 0;
}

/* Inline list without list-style */
.u-unlist {
  padding: 0;
  list-style: none;

  & li {
    display: inline-block;
  }
}

/* Block list without list-style */
.u-list {
  padding: 0;
  list-style: none;
}
